

.course-status-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
  }
  
  h3 {
    margin-top: 0;
  }
  
  .status-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .publish-button {
    padding: 8px 12px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
.list-group-item a {
    color:black;
    font-style: normal;
    text-decoration: none;
}


.btn-space {
  margin-right: 10px;
  padding: 6px 12px;
 
}

textarea,input {
  /* display: block; */
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px; 
}

input {
  display: block;
  margin-right: 10px;
  
}


.mod {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px; /* rounded corners */
  border: 1px solid #e0e0e0;
}

.fourth ul.list-group {
    background-color: rgb(211, 211, 211); /* Replace with your desired color, e.g., #f5f5f5 */
}

.fourth ul.list-group {
    color:rgb(211, 211, 211); /* Replace with your desired color, e.g., #333 */
}

.third .container {
    margin-left: 10px;
}